* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrap {
    width: 1200px;
    margin: 0 auto;
}

.head {
    width: 100%;
    height: 100px;
}

.menu {
    top: 30px;
    left: 550px;
    width: 600px;
    position: absolute;
    z-index: 99;
}

.main {
    text-align: center;
    font-size: 21px;
    line-height: 50px;
}

.main li {
    width: 150px;
    float: left;
    background-color: #fff;
    color: #333;
}

.main li:hover {
    background-color: #333;
    color: #fff;
}



.sub li {}


.slide {
    width: 100%;
    height: 300px;
    position: relative;
}

.slide img {
    top: 0;
    position: absolute;
    width: 1200px;
    height: 300px;
}

.contents {
    width: 100%;
    height: 200px;
}

.notice {
    width: 400px;
    height: 200px;
    float: left;
    background-color: #ccc;
}

.notice h3 {
    width: 120px;
    float: left;
    text-align: center;
    line-height: 50px;
}

.hno {
    background-color: aqua;

}

.no,
.ga {
    float: right;
    background-color: darkolivegreen;
    width: 100%;
    height: 150px;
    line-height: 30px;
    font-size: 15px;
}

.ga img {
    width: 120px;
    height: 120px;
    margin: 15px 0 0 5;
}

.ga {
    display: none;
}

.banner {
    width: 400px;
    height: 200px;
    float: left;
}

.short {
    width: 400px;
    height: 200px;
    float: left;
}

.foot {
    width: 100%;
    height: 100px;
}

.logo2 {
    width: 200px;
    height: 100px;
    float: left;
}

.foot2 {
    width: 100%;
    height: 100px;
    float: left;
}

.menu2 {
    width: 100%;
    height: 50px;
}

.copyright {
    width: 100%;
    height: 50px;
}