* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrap {
    width: 1200px;

}

.head {
    width: 100%;
    height: 100px;
}

.menu {
    top: 30px;
    left: 550px;
    width: 600px;
    position: absolute;
    z-index: 99;
}

.main {
    text-align: center;
    font-size: 21px;
    line-height: 40px;
}

.main li {
    width: 150px;
    float: left;
}

.main li:hover {}

.sub {}

.sub li {}


.slide {
    width: 100%;
    height: 300px;
    position: relative;
}

.slide img {
    top: 0;
    position: absolute;
    width: 1200px;
    height: 300px;
}

.contents {
    width: 100%;
    height: 200px;
}

.notice {
    width: 400px;
    height: 200px;
    float: left;
}

.banner {
    width: 400px;
    height: 200px;
    float: left;
}

.short {
    width: 400px;
    height: 200px;
    float: left;
}

.foot {
    width: 100%;
    height: 100px;
}

.logo2 {
    width: 200px;
    height: 100px;
    float: left;
}

.foot2 {
    width: 100%;
    height: 100px;
    float: left;
}

.menu2 {
    width: 100%;
    height: 50px;
}

.copyright {
    width: 100%;
    height: 50px;
}